@page "/quest"
@using Website.Games.Demo
@using Website.Games.Rpg
@rendermode InteractiveServer

<PageTitle>Quest Game</PageTitle>

<h1>Quest Game</h1>

<div class="console-window text-center my-3" @onkeydown="@Console.OnKeyDown" tabindex="0">
    <div class="d-inline-block bg-dark text-light border p-2 text-start shadow padding-0">
		<pre class="console">
			<code>@Console.State</code>
		</pre>
    </div>
</div>

@code
{
    QuestGame Game;
    BlazorConsole Console;

    public QuestGamePage()
    {
        Game = new();
        Console = Game.Console;
        Console.WindowWidth = 100;
        Console.WindowHeight = 35;
        Console.TriggerRefresh = StateHasChanged;
    }

    protected override void OnInitialized() => InvokeAsync(Game.Run);
}